[submodule "bazaarvoice"]
	path = aio/bazaarvoice
	url = git@github.com:BlueAcornInc/aio-commerce-bazaarvoice-app.git
[submodule "aio/stripe"]
	path = aio/stripe
	url = git@github.com:BlueAcornInc/aio-commerce-stripe-app.git
[submodule "aio/shipstation"]
	path = aio/shipstation
	url = git@github.com:BlueAcornInc/aio-commerce-shipstation-app.git
