@import './blueacorn/variables.css';
@import './blueacorn/forms.css';
@import './blueacorn/typography.css';
@import './blueacorn/buttons.css';
@import './blueacorn/main.css';
@import './blueacorn/blocks.css';
@import './blueacorn/utils.css';

:root {
  --white-font-color: var(--color-neutral-50);
  --invert-dark-to-light: invert(1);
}

footer.footer-wrapper {
  background-color: var(--theme-color-4);


  .footer.block::before {
    display: none;
  }

  .columns.block {
    max-width: var(--screen-max-width);
    padding: 0 6rem;
    margin: var(--spacing-xsmall) var(--spacing-small);

    >div {
      margin: .8rem 0;
    }

    >div>div {

      display: flex;
      align-items: center;
    }
      
    ul,
    li {
      margin: 0;
      padding: 0;
    }

    p,
    a {
      color: var(--color-neutral-50);
      margin: 0;
      padding: 0;
    }

    ul {
      list-style-type: none;
    }

    /* copyright, last child of footer columns */
    >:last-child {
      text-align: center;
    }
  }

  .default-content-wrapper {
    max-width: unset;
    background-color: var(--theme-color-2);
    padding: 1.6rem 0;

    p {
      margin: 0;
      color: var(--color-neutral-50);
    }
  }

  @media (width < 900px) {
    .columns.block {
      padding: 0;
    }
  }
}
