:root, .dropin-design {
    --header-background: #FFFFFF;
    --header-text-color: var(--color-neutral-900);
    --header-icons-filter: var(--invert-dark-to-light);
    --header-text-color-active: var(--header-text-color);

    --header-submenu-background: #FFFFFF;
    --header-submenu-item-text-color: inherit;
    --header-submenu-item-active-text-color: inherit;
    --header-submenu-item-background: inherit;
    --header-submenu-item-active-background: inherit;
}

header.header-wrapper {
    .nav-wrapper {
        border: none;
        width: 100%;
        background: var(--header-background);
    }

    nav {
        display: flex;
        align-items: center;
        gap: 0;

        & > a {
            margin-right: auto;
            order: 1;
            cursor: pointer;
        }
    }

    .nav-sections {
        order: 2;

        .accordian-icon {
            z-index: 999;
        }
    }

    .nav-tools {
        display: flex;
        background: inherit;
        order: 3;
        gap: 0;

        .search-wrapper {
            order: 1;
        }

        .sign-in {
            order: 2;
        }

        .minicart-wrapper {
            order: 3;
        }

        .nav-search-button,
        .nav-cart-button,
        .nav-cart-button::after {
            filter: var(--header-icons-filter);
        }

        button.nav-cart-button[data-count]::after {
            top: 50%;
            right: -10px;
            border-radius: 4px;
            width: auto;
            min-width: 15px;
            height: 20px;
            transform: translateY(-50%);
        }

        .sign-in {
            font-size: 0;
            background-image: url('/icons/user.svg');
            background-repeat: no-repeat;
            background-position: center;
            color: var(--color-brand-700);
            padding: var(--spacing-small);
            border: unset;
            cursor: pointer;
            height: 40px;
            width: 40px;
            box-sizing: border-box;
            filter: var(--header-icons-filter);
        }
    }

    .nav-tools-wrapper > button {
        box-sizing: border-box;
        background-size: 16px;
    }

    .nav-hamburger {
        order: 5;
        padding: 0;
        background: none;
        box-shadow: unset;
        margin: 0 0 0 16px;

        button {
            font-size: 0;
            background-image: url('/icons/hamburger.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            color: var(--color-brand-700);
            padding: var(--spacing-small);
            border: unset;
            cursor: pointer;
            height: 40px;
            width: 40px;
            box-sizing: border-box;
            filter: var(--header-icons-filter);
        }

        .nav-hamburger-icon {
            display: none;
        }
    }

    .nav-search-panel {
        input {
            display: block;
            color: var(--theme-color-2);
            font-size: 1.6rem;
            font-weight: 500;
            padding: 14px 12px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

@media (width < 900px) {
    header nav[aria-expanded='true'] .nav-sections {
        z-index: 999;
    }

    header.header-wrapper {
        .nav-sections {
            .nav-sections-ul-wrapper {
                background-color: white;

                &:before {
                    background: var(--header-background);
                }

                & > ul > li > a {
                    color: initial;
                }
            }
        }
    }
}

@media (width >= 900px) {
    header.header-wrapper {
        .nav-sections {
            .nav-sections-ul-wrapper > ul > li > a {
                color: var(--header-text-color);
                cursor: pointer;
                padding-right: 20px;
                pointer-events: none;
                font-size: 1.2rem;

                &:hover,
                &:focus {
                    color: var(--header-text-color-active);
                }
            }

            .nav-drop {
                color: var(--header-text-color);
                cursor: pointer;
                position: relative;

                &:hover ul,
                ul:hover {
                    display: none;
                }

                &[aria-expanded='true'] {
                    background-color: initial;

                    &:after {
                        bottom: auto;
                        transform: rotate(180deg);
                    }

                    ul {
                        display: block;
                    }
                }

                &:after {
                    border: none;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    right: 0;
                    top: calc(50% - 15px/2);
                    transform: none;
                    transform-origin: center;
                    background-image: url(/icons/caret-down-white.svg);
                    background-size: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    margin: 0;
                    padding: 0;
                }

                ul {
                    background: var(--header-submenu-background);
                    padding: 5px 0;

                    li a {
                        background: var(--header-submenu-item-background);
                        color: var(--header-submenu-item-text-color);
                        cursor: pointer;
                        padding: 5px 10px;
                        font-size: 1.2rem;

                        &:hover,
                        &:focus {
                            color: var(--header-submenu-item-active-text-color);
                            background: var(--header-submenu-item-active-background);
                        }
                    }
                }
            }
        }
    }
}
